body {
	background-color: #201C28;
	font-family: 'Minecraft Rus';
}
.container {
	@include container(1280px, 0);
}
.title {
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	color: $white;
}
a:hover {
	color: $green;
	transition: 0.3s all;
}